body{
    font-family: 'Open Sans', sans-serif;
    background-color: #71807f;
    align-items: left; 
    
}

h1, h2{
    color: #e69988;
}

.section{
    padding: 30px 30px 30px 30px;
    background-color: #c0dbda;
    border-radius: 15px;    
    align-items: center;
    margin-bottom: 20px;/*para separar un div de otro*/

}

.banner{
  display: flex;/*no acomoda en linea*/
  flex-direction: row;

}

.img-perfil{
    width: 20%;
    height: 20%;   
    margin-right: 20px;/*para separar imagen de texto pegado*/
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

.experiencia{
  
}

.formacion{

}

/*.centrar-titulos{

}*/

.skills {
    padding: 3px;
    display:inline-flex;    

    margin: 1px;    
    background-color: #919E95;
    border-radius: 15px;

  }


.ingles {
  width: 60%;
} /* Dark Grey */

.html {
  width: 60%;
} /* Dark Grey */


.typescript {
  width: 20%;
} /* Dark Grey */

.bdd {
  width: 40%;
} /* Dark Grey */

.officepackwps {
  width: 70%;
} /* Dark Grey  */

.ilustracion {
  width: 80%;
} /* Dark Grey */

.team {
  width: 90%;
} /* Dark Grey */

.comunicacion {
  width: 90%;
} /* Dark Grey */

.metodologias {
  width: 40%;
} /* Dark Grey */


.git {
  width: 40%;
} /* Dark Grey */

